A.TOPMENUDECO:LINK { FONT-FAMILY:TAHOMA, GULIM, VERDANA,  SEOUL;  FONT-SIZE:11PX; COLOR:WHITE; TEXT-DECORATION:NONE;}
A.TOPMENUDECO:HOVER, A.TOPMENUDECO:ACTIVE { FONT-FAMILY:TAHOMA, GULIM, VERDANA,  SEOUL;  FONT-SIZE:11PX; COLOR:B5FFFF; TEXT-DECORATION:NONE;}
A.TOPMENUDECO:VISITED { FONT-FAMILY:TAHOMA, GULIM, VERDANA,  SEOUL;  FONT-SIZE:11PX; COLOR:WHITE; TEXT-DECORATION:NONE;}

A.TOPMENUSELDECO:LINK { FONT-FAMILY:TAHOMA, GULIM, VERDANA,  SEOUL;  FONT-SIZE:11PX; COLOR:BLACK; TEXT-DECORATION:NONE;}
A.TOPMENUSELDECO:HOVER, A.TOPMENUDECO:ACTIVE { FONT-FAMILY:TAHOMA, GULIM, VERDANA,  SEOUL;  FONT-SIZE:11PX; COLOR:BLACK; TEXT-DECORATION:NONE;}
A.TOPMENUSELDECO:VISITED { FONT-FAMILY:TAHOMA, GULIM, VERDANA,  SEOUL;  FONT-SIZE:11PX; COLOR:BLACK; TEXT-DECORATION:NONE;}

A.LOCATIONDECO:LINK { FONT-FAMILY:TAHOMA, GULIM, VERDANA,  SEOUL;  FONT-SIZE:11PX; COLOR:#737373; TEXT-DECORATION:NONE;}
A.LOCATIONDECO:HOVER, A.TOPMENUDECO:ACTIVE { FONT-FAMILY:TAHOMA, GULIM, VERDANA,  SEOUL;  FONT-SIZE:11PX; COLOR:BLACK; TEXT-DECORATION:NONE;}
A.LOCATIONDECO:VISITED { FONT-FAMILY:TAHOMA, GULIM, VERDANA,  SEOUL;  FONT-SIZE:11PX; COLOR:#737373; TEXT-DECORATION:NONE;}

A.LEFTMENUDECO:LINK { FONT-FAMILY:TAHOMA, GULIM, VERDANA,  SEOUL;  FONT-SIZE:11PX; COLOR:#555555; TEXT-DECORATION:NONE;}
A.LEFTMENUDECO:HOVER, A.LEFTMENUDECO:ACTIVE { FONT-FAMILY:TAHOMA, GULIM, VERDANA,  SEOUL;  FONT-SIZE:11PX; COLOR:BLACK; TEXT-DECORATION:NONE;}
A.LEFTMENUDECO:VISITED { FONT-FAMILY:TAHOMA, GULIM, VERDANA,  SEOUL;  FONT-SIZE:11PX; COLOR:#737373; TEXT-DECORATION:NONE;}

A.FOOTDECO:LINK { FONT-FAMILY:TAHOMA, GULIM, VERDANA,  SEOUL;  FONT-SIZE:11PX; COLOR:#737373; TEXT-DECORATION:NONE;}
A.FOOTDECO:HOVER, A.TOPMENUDECO:ACTIVE { FONT-FAMILY:TAHOMA, GULIM, VERDANA,  SEOUL;  FONT-SIZE:11PX; COLOR:BLACK; TEXT-DECORATION:NONE;}
A.FOOTDECO:VISITED { FONT-FAMILY:TAHOMA, GULIM, VERDANA,  SEOUL;  FONT-SIZE:11PX; COLOR:#737373; TEXT-DECORATION:NONE;}

A:LINK {COLOR:#000000; TEXT-DECORATION:NONE; }
A:HOVER{COLOR:BLUE; TEXT-DECORATION:UNDERLINE;}
A:ACTIVE {COLOR:BLUE; TEXT-DECORATION:NONE}
A:VISITED {COLOR:#555555; TEXT-DECORATION:NONE; }

A:LINK {COLOR:#000000; TEXT-DECORATION:NONE; }
A:HOVER{COLOR:BLUE; TEXT-DECORATION:UNDERLINE;}
A:ACTIVE {COLOR:BLUE; TEXT-DECORATION:NONE}
A:VISITED {COLOR:#555555; TEXT-DECORATION:NONE; }

BODY, TD, TEXTAREA, INPUT {
	FONT-FAMILY: TAHOMA, GULIM, VERDANA,  SEOUL; 
	FONT-SIZE:11PX; 
	COLOR:#737373; 
	SCROLLBAR-FACE-COLOR:#FFFFFF;
	SCROLLBAR-SHADOW-COLOR:#999999;
	SCROLLBAR-HIGHLIGHT-COLOR:#999999;
	SCROLLBAR-3DLIGHT-COLOR:#FFFFFF;
	SCROLLBAR-DARKSHADOW-COLOR:#FFFFFF;
	SCROLLBAR-TRACK-COLOR:#FFFFFF;
	SCROLLBAR-ARROW-COLOR:#999999;
}

SELECT { FONT-FAMILY:TAHOMA, GULIM, VERDANA,  SEOUL;   FONT-SIZE:11PX; LETTER-SPACING:0PX; COLOR=BLACK; BACKGROUND-COLOR:#F7F7F7; BORDER-COLOR:WHITE; BORDER-WIDTH:1PX; }
P, LI { LINE-HEIGHT:1.4; }

.form1
{
    BORDER-RIGHT: #a5a5a5 1px solid;
    BORDER-TOP: #a5a5a5 1px solid;
    FONT: 11px TAHOMA, GULIM, VERDANA,  SEOUL;
    BORDER-LEFT: #a5a5a5 1px solid;
    COLOR: #333333;
    BORDER-BOTTOM: #a5a5a5 1px solid;
    BACKGROUND-COLOR: #f6f6f6
}
.leftbg{BACKGROUND-COLOR: #6495ed}
.rightbg{BACKGROUND-COLOR: #eff7ff}
.main1{line-height:14pt}
.hb{COLOR: #d8e3d2}
.db{COLOR: #f4f9eb}