td,body,p,select,input,textarea {font-Size:9pt;font-family:±¼¸²;color:#000000;line-height:13pt;}

a { font-Size:9pt;font-family:±¼¸²;color:#202020;line-height:13pt;text-decoration: none;}
a:link { font-Size:9pt;font-family:±¼¸²;color:#202020;line-height:13pt;text-decoration: none;}
a:hover { text-decoration: none; COLOR:#888888}



.topmenu {font-Size:8pt;font-family:µ¸¿ò;color:#000000;line-height:13pt;}
.topmenu a { font-Size:8pt;font-family:µ¸¿ò;color:#202020;line-height:13pt;text-decoration: none;}
.topmenu a:link { font-Size:8pt;font-family:µ¸¿ò;color:#202020;line-height:13pt;text-decoration: none;}
.topmenu a:hover { text-decoration: none; COLOR:#888888}



.layer {font-Size:9pt;font-family:±¼¸²;color:#000000;line-height:13pt;}
.layer a { font-Size:9pt;font-family:±¼¸²;color:#FFFFFF;line-height:13pt;text-decoration: none;}
.layer a:link { font-Size:9pt;font-family:±¼¸²;color:#FFFFFF;line-height:13pt;text-decoration: none;}
.layer a:hover { text-decoration: none; COLOR:#FFFF00}



.left_1 {font-Size:9pt;font-family:±¼¸²;color:#000000;line-height:13pt;}
.left_1 a { font-Size:9pt;font-family:±¼¸²;color:#000000;line-height:13pt;text-decoration: none;}
.left_1 a:link { font-Size:9pt;font-family:±¼¸²;color:#000000;line-height:13pt;text-decoration: none;}
.left_1 a:hover { text-decoration: none; COLOR:#007BEE}


.left_2 {font-Size:9pt;font-family:±¼¸²;color:#000000;line-height:13pt;}
.left_2 a { font-Size:9pt;font-family:±¼¸²;color:#000000;line-height:13pt;text-decoration: none;}
.left_2 a:link { font-Size:9pt;font-family:±¼¸²;color:#000000;line-height:13pt;text-decoration: none;}
.left_2 a:hover { text-decoration: none; COLOR:#96DC0E}


.left_3 {font-Size:9pt;font-family:±¼¸²;color:#000000;line-height:13pt;}
.left_3 a { font-Size:9pt;font-family:±¼¸²;color:#000000;line-height:13pt;text-decoration: none;}
.left_3 a:link { font-Size:9pt;font-family:±¼¸²;color:#000000;line-height:13pt;text-decoration: none;}
.left_3 a:hover { text-decoration: none; COLOR:#31DB09}


.left_4 {font-Size:9pt;font-family:±¼¸²;color:#000000;line-height:13pt;}
.left_4 a { font-Size:9pt;font-family:±¼¸²;color:#000000;line-height:13pt;text-decoration: none;}
.left_4 a:link { font-Size:9pt;font-family:±¼¸²;color:#000000;line-height:13pt;text-decoration: none;}
.left_4 a:hover { text-decoration: none; COLOR:#00D4CD}


.left_5 {font-Size:9pt;font-family:±¼¸²;color:#000000;line-height:13pt;}
.left_5 a { font-Size:9pt;font-family:±¼¸²;color:#000000;line-height:13pt;text-decoration: none;}
.left_5 a:link { font-Size:9pt;font-family:±¼¸²;color:#000000;line-height:13pt;text-decoration: none;}
.left_5 a:hover { text-decoration: none; COLOR:#B89C00}


.left_5 {font-Size:9pt;font-family:±¼¸²;color:#000000;line-height:13pt;}
.left_5 a { font-Size:9pt;font-family:±¼¸²;color:#000000;line-height:13pt;text-decoration: none;}
.left_5 a:link { font-Size:9pt;font-family:±¼¸²;color:#000000;line-height:13pt;text-decoration: none;}
.left_5 a:hover { text-decoration: none; COLOR:#A0B800}



.month {font-Size:9pt;font-family:±¼¸²;color:#000000;line-height:13pt;}
.month a { font-Size:9pt;font-family:±¼¸²;color:#000000;line-height:13pt;text-decoration: none;}
.month a:link { font-Size:9pt;font-family:±¼¸²;color:#000000;line-height:13pt;text-decoration: none;}
.month a:hover { text-decoration: underline; COLOR:#BEA500}



.intro5 {font-Size:9pt;font-family:±¼¸²;color:#000000;line-height:13pt;}
.intro5 a { font-Size:9pt;font-family:±¼¸²;color:#1F8B0D;line-height:13pt;text-decoration: none;}
.intro5 a:link { font-Size:9pt;font-family:±¼¸²;color:#1F8B0D;line-height:13pt;text-decoration: none;}
.intro5 a:hover { text-decoration: none; COLOR:#AFCE00}



.admin {font-Size:9pt;font-family:±¼¸²;color:#000000;line-height:13pt;}
.admin a { font-Size:9pt;font-family:±¼¸²;color:#000000;line-height:13pt;text-decoration: none;}
.admin a:link { font-Size:9pt;font-family:±¼¸²;color:#000000;line-height:13pt;text-decoration: none;}
.admin a:hover { font-weight : bold ;text-decoration: none; COLOR:#BEA500}


.magazine {font-Size:11pt;font-family:µ¸¿ò;color:#496701;line-height:13pt;}
.magazine a { font-Size:11pt;font-family:µ¸¿ò;color:#496701;line-height:13pt;text-decoration: none;}
.magazine a:link { font-Size:11pt;font-family:µ¸¿ò;color:#496701;line-height:13pt;text-decoration: none;}
.magazine a:hover { text-decoration: underline; COLOR:#BEA500}



.location {font-Size:9pt;font-family:±¼¸²;color:#6F6F6F;line-height:13pt;}
.location a { font-Size:9pt;font-family:±¼¸²;color:#6F6F6F;line-height:13pt;text-decoration: none;}
.location a:link { font-Size:9pt;font-family:±¼¸²;color:#6F6F6F;line-height:13pt;text-decoration: none;}
.location a:hover { text-decoration: underline; COLOR:#A5A5A5}


.sitemap {font-Size:9pt;font-family:±¼¸²;color:#5A5A5A;line-height:13pt;}
.sitemap a { font-Size:9pt;font-family:±¼¸²;color:#5A5A5A;line-height:13pt;text-decoration: none;}
.sitemap a:link { font-Size:9pt;font-family:±¼¸²;color:#5A5A5A;line-height:13pt;text-decoration: none;}
.sitemap a:hover { text-decoration: underline; COLOR:#04C0B9}


.copyright {font-Size:8pt;font-family:µ¸¿ò;color:#FFFFFF;line-height:10pt;}
.copyright a { font-Size:8pt;font-family:µ¸¿ò;color:#FFFFFF;line-height:10pt;text-decoration: none;}
.copyright a:link { font-Size:8pt;font-family:µ¸¿ò;color:#FFFFFF;line-height:10pt;text-decoration: none;}
.copyright a:hover { text-decoration: none; COLOR:#FFFF00}