
@charset "utf-8";
html{display: block; }
body {margin:0; padding:0; font-family:NanumGothic, '나눔고딕', verdana, Dotum, '돋움', sans-serif; color:#666; font-size:12px; height:100%;}
form, div, p, h1, h2, h3, h4, h5, h6, dl, dt, dd, ul, ol, li, blockquote, th, td, fieldset ,button {margin:0; padding:0; border:0 none;}
ul, ol {margin:0; padding:0; list-style-type:none;}
img, fieldset {border:0 none; vertical-align:top;} 
address, em {font-style:normal;}
label, select, input, textarea{vertical-align:middle; font-size:1em; color:#666; margin:0; padding:0;}
table { table-layout:fixed; margin:0; padding:0; border:0; font-size:12px;}
legend, caption {width:1px; height:1px; font-size:1px; overflow:hidden; visibility:hidden;}
hr {display:none;}
a {color:#666; text-decoration:none;}
div{display:block;}
ul, ol {margin:0; padding:0; list-style-type:none;}
a {text-decoration:none; color:#666; font-size:12px;}

/* 정렬 */
.text_left {text-align:left;}
.text_center {text-align:center;}
.text_right {text-align:right;}
.margin_auto {margin:0 auto;}

/* none */
.back_none {background:none;}
.border_none {border:none;}
.border_t_none {border-top:none;}
.border_r_none {border-right:none;}
.border_b_none {border-bottom:none;}
.border_l_none {border-left:none;}
ul li.none {background:none;}



.view_rg_content table{border-collpase:separate; }
.view_rg_content td{ border-collpase:separate;}




/* global margin */
.margin0 {margin:0 !important;}
.mat0 {margin-top:0 !important;}
.mar0 {margin-right:0 !important;}
.mab0 {margin-bottom:0 !important;}
.mal0 {margin-left:0 !important;}
.mal5 {margin-left:5px !important;}
.mal10 {margin-left:10px !important;}
.mal15 {margin-left:15px !important;}
.mal20 {margin-left:20px !important;}
.mal25 {margin-left:25px !important;}
.mal30 {margin-left:30px !important;}
.mal35 {margin-left:35px !important;}
.mal40 {margin-left:40px !important;}
.mal50 {margin-left:50px !important;}
.mal60 {margin-left:60px !important;}
.mal70 {margin-left:70px !important;}

.mar5 {margin-right:5px !important;}
.mar10 {margin-right:10px !important;}
.mar15 {margin-right:15px !important;}
.mar20 {margin-right:20px !important;}
.mar25 {margin-right:25px !important;}
.mar30 {margin-right:30px !important;}
.mar35 {margin-right:35px !important;}
.mar40 {margin-right:40px !important;}

.mab3 {margin-bottom:3px !important;}
.mab5 {margin-bottom:5px !important;}
.mab10 {margin-bottom:10px !important;}
.mab15 {margin-bottom:15px !important;}
.mab20 {margin-bottom:20px !important;}
.mab25 {margin-bottom:25px !important;}
.mab30 {margin-bottom:30px !important;}
.mab35 {margin-bottom:35px !important;}
.mab40 {margin-bottom:40px !important;}

.mat0 {margin-top:0 !important;}
.mat3 {margin-top:3px !important;}
.mat5 {margin-top:5px !important;}
.mat10 {margin-top:10px !important;}
.mat15 {margin-top:15px !important;}
.mat20 {margin-top:20px !important;}
.mat25 {margin-top:25px !important;}
.mat30 {margin-top:30px !important;}
.mat35 {margin-top:35px !important;}
.mat40 {margin-top:40px !important;}
.mat50 {margin-top:50px !important;}
.mat55 {margin-top:55px !important;}
.mat60 {margin-top:60px !important;}
.mat65 {margin-top:65px !important;}
.mat70 {margin-top:70px !important;}

.mat-5 {margin-top:-5px !important;}
.mat-10 {margin-top:-10px !important;}
.mat-15 {margin-top:-15px !important;}
.mat-20 {margin-top:-20px !important;}
.mat-25 {margin-top:-25px !important;}
.mat-30 {margin-top:-30px !important;}
.mat-35 {margin-top:-35px !important;}
.mat-40 {margin-top:-40px !important;}

.mal-5 {margin-left:-5px !important;}
.mal-10 {margin-left:-10px !important;}
.mal-15 {margin-left:-15px !important;}
.mal-20 {margin-left:-20px !important;}
.mal-25 {margin-left:-25px !important;}
.mal-30 {margin-left:-30px !important;}
.mal-35 {margin-left:-35px !important;}
.mal-40 {margin-left:-40px !important;}



/* global padding */
.pal5 {padding-left:5px !important;}
.pal10 {padding-left:10px !important;}
.pal15 {padding-left:15px !important;}
.pal20 {padding-left:20px !important;}
.pal25 {padding-left:25px !important;}
.pal30 {padding-left:30px !important;}
.pal35 {padding-left:35px !important;}
.pal40 {padding-left:40px !important;}
.pal50 {padding-left:50px !important;}

.par5 {padding-right:5px !important;}
.par10 {padding-right:10px !important;}
.par15 {padding-right:15px !important;}
.par20 {padding-right:20px !important;}
.par25 {padding-right:25px !important;}
.par30 {padding-right:30px !important;}
.par35 {padding-right:35px !important;}
.par40 {padding-right:40px !important;}

.pat5 {padding-top:5px !important;}
.pat10 {padding-top:10px !important;}
.pat15 {padding-top:15px !important;}
.pat20 {padding-top:20px !important;}
.pat25 {padding-top:25px !important;}
.pat30 {padding-top:30px !important;}
.pat35 {padding-top:35px !important;}
.pat40 {padding-top:40px !important;}

.pab5 {padding-bottom:5px !important;}
.pab10 {padding-bottom:10px !important;}
.pab15 {padding-bottom:15px !important;}
.pab20 {padding-bottom:20px !important;}
.pab25 {padding-bottom:25px !important;}
.pab30 {padding-bottom:30px !important;}
.pab35 {padding-bottom:35px !important;}
.pab40 {padding-bottom:40px !important;}

.padding0{padding:0 !important;}
.padding5{padding:5px !important;}
.padding10{padding:10px !important;}
.padding20{padding:20px !important;}
.padding30{padding:30px !important;}
.padding40{padding:40px !important;}
.padding50{padding:50px !important;}


/*top*/
.s_menu{float:right;}
.menu{width:750px;}
.menu .fir{background:none;}
.menu li{float:left; display:inline; padding:20px 10px; }
.menu .sub1{position:relative;}
.menu .sub2{position:relative;}
.menu .sub3{position:relative;}
.menu .sub4{position:relative;}
.menu .sub5{position:relative;}
.menu .sub6{position:relative;}
.menu .sub7{position:relative;}
.menu .sub8{position:relative;}
.menu .sub9{position:relative;}
.menu li div{display:none;}
.menu li div ul li{float:left; background:none; padding:5px 7px 3px 7px;}
.menu .sub1 div{position:absolute; top:45px; left:-20px; height:24px; width:450px;}
.menu .sub2 div{position:absolute; top:45px; left:-20px; height:24px; width:450px;}
.menu .sub3 div{position:absolute; top:45px; left:-115px; height:24px; width:350px;}
.menu .sub4 div{position:absolute; top:45px; left:-40px; height:24px; width:500px;}
.menu .sub5 div{position:absolute; top:40px; left:-234px; height:24px; width:600px; height:50px;}
.menu .sub6 div{position:absolute; top:45px; left:-190px; height:24px; width:525px;}
.menu .sub7 div{position:absolute; top:45px; left:20px; height:24px; width:150px;}
.menu .sub8 div{position:absolute; top:45px; left:-164px; height:24px; width:400px;}
.menu .sub9 div{position:absolute; top:45px; left:-154px; height:24px; width:280px;}
.menu .sub1 div ul{padding-left:15px;}
.menu .sub2 div ul{padding-left:10px;}
.menu .sub3 div ul{padding-left:105px;}


/*main*/
.main-left_box {padding:0 0 5px 11px;}
.main-left_box2 {padding-left:11px;}


/*e-top*/
/**
.emenu{margin-left:10px; width:730px;}
.emenu .fir{background:none;}
.emenu li{float:left; display:inline; padding:20px 17px; }
.emenu .sub1{position:relative;}
.emenu .sub2{position:relative;}
.emenu .sub3{position:relative;}
.emenu .sub4{position:relative;}
.emenu .sub5{position:relative;}
.emenu li div{display:none;}
.emenu li div ul li{float:left; background:none; padding:5px 10px 3px 10px;}
.emenu .sub1 div{position:absolute; top:45px; left:-20px; height:24px; width:450px;}
.emenu .sub2 div{position:absolute; top:45px; left:-75px; height:24px; width:450px;}
.emenu .sub3 div{position:absolute; top:45px; left:-80px; height:24px; width:500px;}
.emenu .sub4 div{position:absolute; top:45px; left:15px; height:24px; width:200px;}
.emenu .sub5 div{position:absolute; top:40px; left:16px; height:24px; width:200px;}
.emenu .sub1 div ul{padding-left:15px;}
.emenu .sub2 div ul{padding-left:15px;}
.emenu .sub3 div ul{padding-left:15px;}*/


.emenu > img {vertical-align:middle;}
.emenu{margin-left:10px; width:730px;}
.emenu .fir{background:none;}
.emenu li{float:left; display:inline; padding:20px 7px 20px 6px;}
.emenu li:first-child {padding-left:0px;}
.emenu li:last-child {padding-right:0px;padding-left:0px;}
.emenu .sub1{position:relative;}
.emenu .sub2{position:relative;}
.emenu .sub3{position:relative;}
.emenu .sub4{position:relative;}
.emenu .sub5{position:relative;}
.emenu .sub6{position:relative;}
.emenu .sub7{position:relative;}
.emenu li div{display:none;}
.emenu li div ul li{float:left; background:none; padding:5px 10px 3px 10px;}
.emenu .sub1 div{position:absolute; top:40px; left:-20px; height:24px; width:450px;}
.emenu .sub2 div{position:absolute; top:45px; left:-11px; height:24px; width:350px;}
.emenu .sub3 div{position:absolute; top:45px; left:-11px; height:24px; width:450px;}
.emenu .sub4 div{position:absolute; top:45px; left:4px; height:24px; width:500px;}
.emenu .sub5 div{position:absolute; top:40px; left:15px; height:24px; width:200px;}
.emenu .sub6 div{position:absolute; top:40px; left:-386px; height:24px; width:600px;}
.emenu .sub7 div{position:absolute; top:45px;  left:10px; height:24px; width:200px;}
.emenu .sub1 div ul{padding-left:15px;}
.emenu .sub2 div ul{padding-left:15px;}
.emenu .sub3 div ul{padding-left:15px; background:#ffffff}
.emenu .sub6 div ul{padding-left:15px;z-index:10;}




/* 패밀리 사이트 카테고리 */
.bn{width:700px; background:url(../img/bn/bg_bn.jpg) 0 15px no-repeat;}
#fmrollwrap {position:relative; overflow:hidden; float:left; margin-left:80px; width:620px; height:44px;  }
#fmrollwrap .fmsite_btn {position:absolute; left:0px; top:0px; float:right;}
#fmrollwrap .fmsite_btn button {float:left; width:33px; height:38px; padding:0; text-indent:-9999px; border:none; cursor:pointer; }
#fmrollwrap .fmsite_btn button.btn_prev {position:absolute; left:0px; top:0px; background:url(../img/bn/btn_prev.jpg) left top no-repeat;}
#fmrollwrap .fmsite_btn button.btn_next {position:absolute; left:587px; top:0px; background:url(../img/bn/btn_next.jpg) left top no-repeat;}
.fm_site_category {position:relative; overflow:hidden; width:600px; height:38px; }
.fm_site_category ul.fmsite_category {overflow:hidden; top:0px; width:580px; margin:0 40px 0 40px;}
.fm_site_category ul.fmsite_category li {float:left; width:138px;  }
.fm_site_category ul.fmsite_category li img {vertical-align:top;}


/*left*/
.lm_small ul li{ border-bottom:1px solid #ddd; line-height:30px; width:180px; }
.lm_small .bg{padding-left:16px; display:block; color:#666; background: url('../img/sub_left/left_blit_off.jpg') no-repeat 5px 10px;}
.lm_small .bg:hover{padding-left:26px; background: url('../img/sub_left/left_blit_on.jpg') no-repeat 5px 10px; color:#1f85b8;}

.title{display:block; float:left; margin-top:20px; padding:10px 20px; line-height:48px; font-size:20px; font-weight:bold; color:#1862b9; background: url('../img/sub_left/title_blit.jpg') no-repeat 8px 28px;}
.list_title {width:410px; height:30px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.location {display:block; float:right; padding:20px 10px 0 0; font-size: 12px;}
.location li{float:left;}
.lctrl {position:relative;}
.elocation {display:block; position:absolute; right:10px; padding:20px 10px 0 0; font-size: 12px;}
.elocation li{float:left;}

/*cont*/

.info01{ width:680px ; display:inline ; margin:20px 0px 20px 40 ; }
.info01 .subTitle{ background:url("../img/cont/listTab_bgR.gif") no-repeat right top ; float:left ; height:24px ; padding-right:15px ; line-height:24px ; }
.info01 .subTitle .txt{ background:url("../img/cont/listTab_bgL.gif") no-repeat left top ; padding-left:15px ; float:left ; }
.info01 .subInfo{ background:url("../img/cont/listTab_bgM.gif") repeat-x left top ; clear:both ; padding-top:10px ; }
.info01 .subInfo .txt{ background:url("../img/cont/listTab_gap.gif") no-repeat right 5px ; width:20% ; padding:5px 0px 5px 20px ; }
.info01 .btn{ cursor:pointer ; float:right ; }

.join1 p{font-size:14px; font-weight:bold; line-height:25px;}
.regi1{color:#F33;}
.join2{margin:20px 10px; border-collapse:collapse; line-height:20px; border:1px solid #30659A;}
.join3 tr td{display:block; padding:10px 0;line-height:20px; color:#444;}
.bd1 td{border-bottom:1px dashed #ddd;}
.dot_blit{padding-left:15px; font-size:12px; background:#fff url('../img/cont/blit.gif') no-repeat 2px 3px;}

.contributionBox {margin-left:20px; background:url("../img/cont/contribution_bg01.gif") no-repeat left top ; padding:150px 0px 100px 250px ; }
.contributionBox p { line-height:20px ; }
.contributionBox p.txtInfo02	{margin-top:30px ; }
.contributionBox span.btn { margin-right:25px ; display:inline ; }


.clear { clear:both ; }
.contributionBox2 { padding:20px 0px 0px 35px ; width:706px ; }
.contributionBox2 { padding:20px 0px 0px 35px ; width:746px ; }
.contributionBox  { line-height:20px ; }
.contributionBox .txtInfo02	{ margin-top:30px ; }
.contributionBox .btn { margin-right:25px ; display:inline ; }

.contributionBox2 .topInfo { float:left ; margin-bottom:5px ; width:100% ; }
.contributionBox2 .btns	{ float:left ; font-size:0px ; line-height:0px ; }
.contributionBox2 .txt1 { float:right ; margin-top:22px ; padding-right:20px ; color:#f60 ; }
.contributionBox2 .txt2 { float:right ; padding:5px 20px 0px 0px ; color:#999 ; }
.contributionBox2 .topInfo .btn	{ cursor:pointer ; }
                                    
.contributionBox2 .listBox { background:url("../img/cont/contribution_bgM.gif") repeat-y left top ; width:100% ; clear:both ; }
.contributionBox2 .listBox .bgT { background:url("../img/cont/contribution_bgT.gif") no-repeat left top ; width:100% ; height:29px ; }
.contributionBox2 .listBox .bgB	{ background:url("../img/cont/contribution_bgB.gif") no-repeat left bottom ; width:100% ; height:20px ; }
                  
.contributionBox2 .listBox .btn	 { margin-right:15px ; display:inline ; }
.contents	 { width:100% ; padding:15px 15px 5px 15px ; }

.ent td{padding:2px; border:1px solid #999;}

.table_class4 {margin-left:20px; border-top-style: solid; border-top-width: 2; border-bottom-style: solid; border-bottom-width: 2;border-color: #2965C3;}
.table_class4 td{border:1px solid #E5EAF2; line-height:25px;}
.table_class3 {border-top-style: solid; border-top-width: 2; border-bottom-style: solid; border-bottom-width: 2;border-color: #2965C3;}
.table_class3 td{border:1px solid #E5EAF2; line-height:20px;}
.table_class2 {margin-left:20px; border-top-style: solid; border-top-width: 2; border-bottom-style: solid; border-bottom-width: 2;border-color: #2965C3;}
.table_class {margin-left:20px; border-top-style: solid; border-top-width: 2; border-bottom-style: solid; border-bottom-width: 2;border-color: #2965C3;}
.table_class td{border:1px solid #E5EAF2;}
.style5 {font-size: 12px; font-weight: bold; color: #333333; }
.style7 {font-size: 12px; color: #333333; text-align:center}
.style70 {font-size: 12px; color: #333333; padding-left:8px;}
.style07 {font-size: 11px; color: #333333; padding: 5 0 5 0 }
.style8 {font-size: 12px; color: #333333; font-weight: bold; }
.style9 {color: #FFFFFF}
.style10 {font-size: 12px; color: #333333; font-weight: bold;}
.ft_1{font-size: 12px;}
.sub11_title{padding-left:35px; font-size:14px; line-height:22px; background: url('../img/cont/blit.gif') no-repeat 22px 7px;}
.sitmap_blit{padding-left:15px; font-size:12px; line-height:22px; background:#fff url('../img/cont/blit.gif') no-repeat 2px 11px;}
.hwsj td{padding-left:20px; border:1px solid #aaa; line-height:20px;}


/* 국내외 지부 */

.sub16_tab {display:block;float:right;vertical-align:center;text-align:right;width:100%;border-bottom:3px solid #303030;padding:0 0 10px 0;}
.sub16_tab li {display:inline-block;float:left;text-align:right;line-height:0px;height:26px;}
.border_box {border:5px solid #ebeef5;padding:20px 10px;}
.text_box {padding:10px 20px 10px 20px;}

.table_class5 {border-top-style: solid; border-top-width: 2; border-bottom-style: solid; border-bottom-width: 2;border-color: #2965C3;}
.table_class5 th{font-size: 12px; font-weight: bold; color: #333333; border:1px solid #E5EAF2; line-height:20px;text-align:center;background:#E5EAF2;padding:3px 0 ;}
.table_class5 td{border:1px solid #E5EAF2; line-height:20px;background:#fff;font-size: 12px; color: #333333; text-align:center;padding:5px 0;}
.table_class5 .left_td{border:1px solid #E5EAF2; line-height:20px;background:#fff;font-size: 12px; color: #333333; text-align:left;padding:5px 5px;}


/*foot*/
.ft_bg{height:79px; background: url('../img/tail_bg.jpg') repeat-x ;}
.ft_logo{padding:10px 15px;}
.add{width:750px; color:#a9a9a9; font-size:12px; line-height:20px;}
.add span{color:#666;}



