
/* 하단배너*/

.banner_wrap img {vertical-align:top;}
.banner_list {margin:0px 0px 0px 0px;padding:0px;list-style:none;position:absolute;left:0px;top:0px;}
.banner_list li {float:left;margin:0px 0px 0px 0px;}









