@charset "utf-8";

/* sv */
.sub_wrap{margin-top: 149px !important; margin-top: 97px !important;}
.sv_wrap{box-sizing: border-box; width: 100%;}
.sv_sec {position: relative;width: 100%; background:url(../../images/sub/sv00.jpg) no-repeat center top; height: 220px; -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box; transition:1.2s;z-index: -1;}
/* .sv02{background:url(../../images/sub/sv02.jpg) no-repeat center top; }
.sv03{background:url(../../images/sub/sv03.jpg) no-repeat center top; }
.sv04{background:url(../../images/sub/sv04.jpg) no-repeat center top; }
.sv05{background:url(../../images/sub/sv05.jpg) no-repeat center top; }
 */
.sv_sec .tit_box{position: relative; box-sizing: border-box; color: #fff; top: 73px; text-align: left;}
.sv_sec .tit_box span{display: block; font-size: 20px; line-height: 1; color: #0094dc; font-weight: 500; margin-bottom: 9px;}
.sv_sec .tit_box h4{position: relative; font-size: 45px; line-height: 1; font-weight: 700; margin-left: -2px;}


/* lnb */
.lnb_wrap{position: relative; z-index: 10; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd;}
.lnb_box{position: relative;}
.lnb_box > *{float: left; box-sizing: border-box; height: 58px; border-left: 1px solid #ddd; width: 211px;}
.lnb_box > *:last-child{border-right: 1px solid #ddd;}
.lnb_box > .home{width: auto;}
.lnb_box > .home a{display: block; width: 50px; height: 58px;background: #fff url(../../images/sub/sub_home.jpg) center no-repeat;}

/* .lnb_box .lnb_dep1{width: 211px;} */
.lnb_box .lnb_dep2 .dep3{display: none;} 
.lnb_box .lnb_dep3{border-right: 1px solid #ddd;}
/* .lnb_box .lnb_dep3 .dep2 > ul > li{display: none;}
.lnb_box .lnb_dep3 .dep2 > ul > li.current{display: block; background: #000;} */

.lnb_box .lnb_dep3 .dep2 > ul > li > a{display: none;}
.lnb_box .lnb_dep3 .dep3{display: block;}
.lnb_box > div:not(.home) {position: relative;}
.lnb_box > div:not(.home) > a{position: relative; font-size: 17px; line-height: 58px; color: #333; padding-left: 19px; }
.lnb_box > div:not(.home) > a:after{position: absolute; content:''; width: 12px; height: 8px; background: url(../../images/sub/sub_arr.jpg) center no-repeat; right: 13px; top: 50%; margin-top: -4px; transition:.3s;}
.lnb_box > div:not(.home) > a.on:after{transform:rotate(180deg)}
.lnb_box > div:not(.home) > div{display: none; position: absolute; left: -1px; top: 58px; width: calc(100% + 2px); background: #fff; z-index: 10; box-shadow:0px 0px 10px rgba(0,0,0,0.1)}
.lnb_box > div:not(.home) > div ul li{border: 1px solid #ddd; border-bottom: 0;}  
.lnb_box > div:not(.home) > div ul li:last-child{border-bottom: 1px solid #ddd;}
.lnb_box > div:not(.home) > div ul li a{position: relative; line-height: 50px; color: #666; background: #fff; padding-left: 20px; box-sizing: border-box; transition:.3s;}
.lnb_box > div:not(.home) > div ul li:hover > a,
.lnb_box > div:not(.home) > div ul li.current > a{background: #f9f9f9; color: #1d9bea;}

/* dep4 */
.dep_4_wrap{background: #f6f6f6; }
.dep_4_wrap ul{padding-left: 41px; box-sizing: border-box;}
.dep_4_wrap ul li{display: inline-block; padding: 0 30px; position: relative; }
.dep_4_wrap ul li:after{position: absolute; content:''; width: 3px; height: 3px; background: #555; border-radius: 50%; right: -2px; top: 29px;}
.dep_4_wrap ul li:last-child:after{display: none;}
.dep_4_wrap ul li a{line-height: 60px; font-size: 17px; color: #555; transition:.3s;}
.dep_4_wrap ul li:hover a,
.dep_4_wrap ul li.current a{color: #0094dc; font-weight: 500;}

.lnb_dep3 .dep2 > ul > li{display: none;}
.lnb_dep3 .dep2 > ul > li.current{display: block;}

/* sub_common */
.sub_layout {margin: 90px auto 110px !important; }
.bd_sec, .faq_list {margin: 30px auto 100px !Important;}

/* title */
.tit_bg{font-size: 32px; line-height: 90px; color: #fff; font-weight: 500; background: #0c3353; box-sizing: border-box; padding-left: 57px; box-shadow:10px 10px 10px rgba(0,0,0,0.1)}   
.tit_h3{position: relative; font-size: 28px; line-height: 1; color: #333; font-weight: 500; padding-left: 21px;}
.tit_h3:before,
.tit_h3:after{position: absolute; content: ''; width: 4px; height: 28px; background: #76da4f; left: 0; top: 0;}
.tit_h3:after{height: 14px; background: #0094dc;}

/* dot_ul */
.dot_ul{margin-top: 18px;}
.dot_ul li{position: relative; padding-left: 20px; font-size: 18px; line-height: 32px; color: #333;}
.dot_ul li:before{position: absolute; content: ''; width: 4px; height: 4px; background: #0c3353; left: 0; top: 14px;}
.dot_ul li b{display: inline-block; color: #0c3353; font-weight: 700;}

/* cnt */
.cnt_box{background: #fff; box-shadow:0px 0px 20px rgba(0,0,0,0.1); margin-top: 30px; box-sizing: border-box; padding: 50px 50px 100px;}

/* option */ 
.fiex_box {display: flex;}

/* table */
.table_nomal {border-top: 2px solid #0094dc;}
.table_nomal th,
.table_nomal td{font-size: 18px; line-height: 49px; box-sizing: border-box; border: 1px solid #ddd;}
.table_nomal th{background: #ecf4f8; color: #0c3353; font-weight: 700; }
.table_nomal tr.bg2 th{background: #f9f9f9; color: #333; font-weight: 400;}
.table_nomal th:first-child,
.table_nomal td:first-child{border-left: 0;}
.table_nomal th:last-child,
.table_nomal td:last-child{border-right: 0;}

/* s1111 */
.s1111 .arti1 .tit_h3{margin-top: 0;}
.s1111 .tit_h3{margin-top: 90px;}
.s1111 .arti1 .fiex_box {justify-content:center; text-align: center; margin-top: 30px;} 
.s1111 .arti1 .fiex_box > li{position: relative; flex-grow: 1; margin-right: 33px; width: 385px;}
.s1111 .arti1 .fiex_box > li:last-child{margin-right: 0;}
.s1111 .arti1 .fiex_box > li:after{position: absolute; content:''; width: 33px; height: 1px; background: #ddd; right: -33px; bottom: 68px; }
.s1111 .arti1 .fiex_box > li:last-child:after{display: none;}
.s1111 .arti1 .fiex_box > li h4{font-size: 22px; line-height: 80px; color: #fff; border-radius: 10px;}
.s1111 .arti1 .fiex_box > li .tbx{font-size: 18px; line-height: 1; color: #333; border: 1px solid #ddd; box-sizing: border-box; margin-top: 10px; height: 135px; }
.s1111 .arti1 .fiex_box > li .tbx p{margin: 20px 0 17px;}
.s1111 .arti1 .fiex_box > li .tbx a{display: block; margin: 0 auto; width: 31px; height: 31px; border-radius: 50%; }
.s1111 .arti1 .fiex_box > li .tbx a img{margin-top: 11px;}
.s1111 .arti2 table{margin-top: 30px;}
.s1111 .color_sky{font-size: 17px; line-height: 1; color: #0094dc; font-weight: 500; margin-top: 23px; }

div.color_sky > p{padding-left: 20px; text-indent: -20px; line-height: 1.5; margin-bottom: 10px;}
.link_a, .s4_link_a{display: block; width: 250px; font-size: 22px; line-height: 75px; height: 75px; color: #fff; font-weight: 700; background: #fd7400; border-radius: 50px; box-shadow:5px 5px 10px rgba(0,0,0,0.1); margin: 57px auto 0; text-align: center; transition: all 0.2s ease-in-out; position: relative; overflow: hidden;}
.link_a span{position: relative; display: inline-block; vertical-align: middle; top: 23px; margin-left: 5px;}

@keyframes sheen {0% {transform: skewY(-45deg) translateX(0);}100% {transform: skewY(-45deg) translateX(12.5em);}}
.link_a:before, .s4_link_a:before  {content: "";	background-color: rgba(255,255,255,0.7);height: 100%;width: 3em;display: block;position: absolute;top: 0;left: -4.5em;transform: skewX(-45deg) translateX(0);transition: none;}
.link_a:hover:before , .s4_link_a:hover:before{background-color: rgba(255,255,255,0.5);  color: #fff;  transform: skewX(-45deg) translateX(17.5em); transition: all 0.5s ease-in-out;}

/* s1114 */
.s1114 .table_nomal td,
.s401 .table_nomal td,
.s331 .table_nomal td,
.s1123 .table_nomal td,
.s505 .table_nomal td{font-size: 16px; line-height: 1.7; padding: 10px 15px; word-break: keep-all;}


.s1114 .table_nomal td:last-child,
.s1123 .table_nomal td:last-child,
.s505 .table_nomal td:last-child{text-align: left;}

.s1114 .table_nomal td.ta_l,
.s401 .table_nomal td.ta_l{text-align: left;}

/* s1121 */

.s1121 .arti1 p{font-size: 17px; font-weight: 500; margin-bottom: 42px; margin-top: -5px; margin-left: -2px;}
.s1121 .tit_h3{margin-bottom: 35px;}  
.color_sky{color: #0094dc;}

.s112_col2 {display: flex; align-items: stretch; margin-bottom: 30px;}
.s112_col2 > *{width: 595px; box-sizing: border-box; }
.s112_col2 > .lbx{margin-right: 30px;}
.s112_col2 > * dl{display: flex; align-items: stretch; height: 100%; width: 100%; vertical-align: middle; }
.s112_col2 > * dl > *{ vertical-align: middle; box-sizing: border-box;} 
.s112_col2 > * dt{background: #0094dc; text-align: center; font-size: 18px; line-height: 1; color: #fff; font-weight: 500; width: 100px; display: flex; align-items:center; }
.s112_col2 > * dt span{vertical-align: middle; text-align: center; width: 100%;}
.s112_col2 > * dd{padding: 34px 0 34px 38px; border: 1px solid #ddd; width: calc(100% - 100px); display: flex; align-items:center; }
.s112_col2 > * dd ul li{font-size: 18px; line-height: 32px; color: #333; padding-left: 10px; text-indent: -10px;}
.s112_col2 > * dd p{font-size: 18px; line-height: 32px; color: #333;}
.s112_col2 > .rbx dt{background: #00bfb7;}

.s112_list li {line-height: 40px; font-size: 18px; color: #333; margin-bottom: 8px;}
.s112_list li:last-child{margin-bottom: 0;}
.s112_list li span{display: inline-block; margin-right: 13px; box-sizing: border-box; border-radius: 50px; border: 2px solid #ddd; width: 100px; text-align: center; line-height: 36px; font-size: 18px; color: #0c3353; font-weight: 500;} 

/* s1122 */
.s1122 .arti1{display: table; width: 100%; height: 240px; background: url(../../images/sub/s1122_figure.jpg) center no-repeat; background-size: cover; margin-bottom: 50px;}  
.s1122 .arti1 p{display: table-cell; text-align: center; font-size: 18px; line-height: 32px; color: #fff; font-weight: 500; vertical-align: middle;}

/* s1123 */

.s1123 .arti2 .line_box{box-sizing: border-box; border: 1px solid #ddd; padding: 48px 30px 42px; margin-top: 35px;} 
.s1123 .arti2 .line_box h5{font-size: 18px; line-height: 1; color: #0c3353; font-weight: 700; margin-bottom: 18px;}
.s1123 .arti2 .line_box p{font-size: 18px; line-height: 32px; color: #555; }
.s1123 .arti3 .table_nomal{margin-top: 30px;}
.s1123 .link_a{width: 320px;}

/* s1300 */
.root_daum_roughmap {width: 100% !important;}
.root_daum_roughmap .wrap_map{height: 585px !important; }
.s103 .wrap_controllers {display: none;}

.s103 .arti1 h3{margin-bottom: 28px;}
.s103 .arti2{padding: 67px 0 49px; border-bottom: 1px solid #ddd;}
.s103 .arti2 > *{float: left; }
.s103 .arti2 .lbx > *{display: inline-block; vertical-align: top;}
.s103 .arti2 .lbx > dt{font-size: 25px; font-weight: 600; color: #303030; margin-right: 59px; margin-left: 8px;}
.s103 .arti2 .lbx > dd{position: relative; top: -1px; letter-spacing: -0.02em; font-size: 18px; color: #606060;}
.s103 .arti2 .rbx {float: right; margin-top: -17px;}
.s103 .arti2 .rbx li{display: table; table-layout: fixed; text-align: center; float: left;}
.s103 .arti2 .rbx li a{display: table-cell; vertical-align: middle; border: 1px solid #ddd; width: 61px; height: 61px; box-sizing: border-box; }
.s103 .arti2 .rbx li:first-child a{border-right: none;	}

.s103 .map_list h3{margin-bottom: 28px;}
.s103 .map_list .wrap > *{float: left; width: 50%; box-sizing: border-box; }
.s103 .map_list .wrap ul > li{display: table; table-layout: fixed; margin-bottom: 37px;}
.s103 .map_list .wrap .lbx ul > li:nth-child(2){margin-bottom: 29px;}
.s103 .map_list .wrap .rbx ul > li{margin-bottom: 67px;}
.s103 .map_list .wrap ul > li > *{display: table-cell; vertical-align: top;} 
.s103 .map_list .wrap ul > li > figure{width: 113px;}
.s103 .map_list .wrap ul > li dt{font-size: 18px; line-height: 1; color: #333; font-weight: 500; margin: 5px 0 10px;}
.s103 .map_list .wrap ul > li dd {font-size: 18px; line-height: 32px; color: #555;}
.s103 .map_list .wrap ul > li dd ol > li{padding-left: 10px; text-indent: -10px; }
.s103 .map_list .wrap ul > li dd ol > li span{position: relative; display: inline-block; vertical-align: middle; text-indent: 0;	top: 5px;}
.s103 .map_list .wrap ul > li dd ol.col2 > li{float: left; width: calc(50% - 18px); box-sizing: border-box;}

/* s301 */

.s3_col3{display: flex; margin-bottom: 100px;}
.s3_col3 > li{position: relative; background: #f1f1f1;  width: 393px; box-sizing: border-box; margin-right: 21px;}
.s3_col3 > li:last-child{margin-right: 0;}
.s3_col3 > li a{ line-height: 70px; font-size: 18px; color: #333;  padding-left: 30px;}
.s3_col3 > li span{ position: absolute; right: 0; top: 0; display: block; width: 70px; height: 70px; background: #0c3353 url(../../images/sub/s3_link.png) center no-repeat; transition:.3s;}
.s3_col3 > li:hover span{background-color: #1d9bea;}

.s3_col2 {display: flex; margin-top: 35px; margin-bottom: 100px;}
.s3_col2 > *{width: 600px;}
.s3_col2 > .rbx{margin-left: 20px;}
.s3_col2 h4{text-align: center; background: #0094dc; font-size: 18px; line-height: 65px; color: #fff; font-weight: 500;}
.s3_col2 ul > li{position: relative; font-size: 18px; line-height: 73px; color: #333; border-bottom: 1px solid #ddd; box-sizing: border-box; padding-left: 30px;} 
.s3_col2 ul > li:nth-child(even){background: #f9f9f9;}
.s3_col2 ul > li span{display: inline-block; font-size: 18px; color: #0c3353; font-weight: 500; width: 36px;}
.s3_col2 ul > li a{position: absolute; width: 48px; height: 48px; background: url(../../images/sub/s3_ut.png) center no-repeat; right: 30px; top: 50%; margin-top: -24px; border-radius: 50%; box-shadow:3px 3px 3px rgba(0,0,0,0.1)}

/* s311 */
.s311 .s3_col2{margin-bottom: 0;}


/* s331 */
.s331 .tit_h3{margin-bottom: 35px;}
.s331 .table_nomal td:last-child{text-align: left;}



/* s401 */


.bg_col4{background: url(../../images/sub/s401_col4_bg.jpg) center no-repeat; height: 203px; width: 1067px; margin: 39px auto 0;}
.bg_col4 li{float: left; width: 202px; margin-right: 85px; text-align: center; font-size: 18px; line-height: 1; color: #0c3353; font-weight: 500; padding-top: 120px; letter-spacing: 0;}
.bg_col4 li:last-child{margin-right: 0;}

.s401 .arti2{margin-top: 91px;}
.s4_link_a{width: 200px; line-height: 65px; height: 65px; box-shadow:none; margin-top: 49px;}

.s401 .arti3{margin-top: 90px;}
.s401 .arti3 h3{margin-bottom: 32px;}
.s401 .b_box p{text-align: center; font-weight: 500; margin-top: 25px;}
.s401 .b_box p span{position: relative; font-size: 18px; line-height: 1; color: #333; padding: 0 20px;}
.s401 .b_box p span:first-child:after{position: absolute; content: ''; width: 2px; height: 2px; background: #333; border-radius: 50%; right: -2px; top: 50%; margin-top: -1px;}
.s401 .b_box p b{font-size: 22px; line-height: 1; color: #fd7400;}
.s401_col3{display: flex; align-items:center; }
.s401_col3 > *{width: 385px; height: 170px; background: #f9f9f9; margin-right: 33px; box-sizing: border-box; padding-left: 30px;}
.s401_col3 > *:last-child{margin-right: 0;}
.s401_col3 > * .cnt{display: flex;  align-items:center; height: 100%;}
.s401_col3 > * .cnt p{padding-left: 30px; font-size: 18px; line-height: 32px; color: #333;}
.s401 .arti4{margin-top: 100px; }
.s401 .arti4 table{margin-top: 28px;}
.s401 .arti5 .bd_box{border: 1px solid #ddd; box-sizing: border-box; padding: 34px 40px; margin-top: 35px;}
.s401 .arti5 .bd_box p{font-size: 18px; line-height: 50px; color: #333; }
.s401 .arti5 .bd_box p b{font-weight: 500;}
.s401 .arti5 .bd_box span{display: inline-block; margin-right: 27px;}

/* s402 */
.s402 .arti1{text-align: center; padding-top: 32px;	}
.s402 .arti2{margin-top: 77px; }
.s402 .arti2 .col4 {margin-top: 36px;}
.s402 .arti2 .col4 > li{float: left; width: 24.16%; margin-right: 1.1%; box-sizing: border-box;  text-align: center;}
.s402 .arti2 .col4 > li img{border: 1px solid #ddd;}
.s402 .arti2 .col4 > li:nth-child(4n+4){margin-right: 0;}
.s402 .arti2 .col4 > li h4{font-size: 18px; line-height: 1; color: #333; font-weight: 400;	 margin: 17px 0 39px; letter-spacing: 0;}

/* s501 */
.s501 .arti1{display: table; width: 100%; height: 320px; background:url(../../images/sub/s501_1.jpg) center no-repeat; } 
.s501 .arti1 .tbx{display: table-cell; vertical-align: middle; padding-left: 90px; padding-bottom: 40px;}
.s501 .arti1 .tbx span{display: block; font-size: 18px; line-height: 1; color: #0094dc; font-weight: 500; margin-bottom: 19px;}
.s501 .arti1 .tbx h4{font-size: 36px; line-height: 46px; color: #333; font-weight: 500; margin-left: -2px;}
.s501 .arti2 {box-sizing: border-box; padding: 53px 50px;}
.s501 .arti2 p{font-size: 18px; line-height: 30px; color: #555; word-break: keep-all; margin-bottom: 25px; letter-spacing: -0.03em; text-align:justify }
.s501 .arti2 b{display: block; text-align: right; font-size: 20px; line-height: 28px; color: #555; font-weight: 500;}
.s501 .arti2 b span{display: inline-block; font-size: 32px; line-height: 1; color: #555; font-weight: 400; margin-left: 13px; margin-top: 17px;}

/* s502 */
.s502 .tit_h3{margin-bottom: 30px;}
.s502 .gray_box{height: 216px; }
.gray_box{background: #f9f9f9; display: table; width: 100%; }
.gray_box > *{display: table-cell; vertical-align: middle;}
.gray_box > figure{width: 215px; text-align: center;}
.gray_box > .tbx p{font-size: 18px; line-height: 32px; color: #555;}

.tit_h4{font-size: 18px; line-height: 1; color: #333; font-weight: 500;}
.flex_box{position: relative; display: flex; box-sizing: border-box;}
.s502 .arti2 .flex_box { border-top: 1px solid #0c3353; border-bottom: 1px solid #ddd;}
.s502 .arti2 .flex_box > *{width: 50%; box-sizing: border-box; padding: 42px 30px;}
.s502 .arti2 .flex_box > *:first-child{border-right: 1px solid #ddd;}
.flex_dot > li{position: relative; padding-left: 21px; font-size: 18px; line-height: 32px; color: #555;	}
.flex_dot > li:before{position: absolute; content:''; width: 4px; height: 4px; background: #0c3353; left: 0; top: 15px;}
.s502 .arti2 .flex_box{margin-top: 23px; }

.s502 .arti3 .tit_h3{margin-bottom: 18px;}
.s502 .arti3 .flex_box {flex-wrap: wrap;}
.s502 .arti3 .flex_box > *{position: relative; flex: 1 1 40%; font-size: 18px; line-height: 40px; color: #555; padding: 13px 0 13px 12px;}
.s502 .arti3 .flex_box > *:after{position: absolute; content:''; width: 100%; height: 1px; background: url(../../images/sub/fiex_dot.jpg) left top; left: 0; bottom: 0;}
.s502 .arti3 .flex_box > * span{display: inline-block; box-sizing: border-box; border: 1px solid #0094dc; color: #0094dc; font-weight: 500; line-height: 38px; width: 84px; border-radius: 50px;	text-align: center; vertical-align: top; margin-right: 24px;}
.s502 .arti4 .box{box-sizing: border-box; border: 1px solid #ddd; padding: 48px 0px 43px 30px;}
.s502 .arti4 .box > *{font-size: 18px; line-height: 32px; color: #555;}
.s502 .arti4 .box h5{font-size: 18px; line-height: 1; color: #333; font-weight: 500; margin-bottom: 17px; margin-top: 40px;}
.s502 .arti4 .box h5:first-child{margin-top: 0;}

/* s503 */
.s503 .tit_h3{margin-bottom: 30px;}
.s503 .arti1 .figure{display: table; width: 100%; height: 290px; background: url(../../images/sub/s503_1.jpg) center no-repeat; background-size: cover; text-align: center; color: #fff;}
.s503 .arti1 .figure .tbx{display: table-cell; vertical-align: middle;}
.s503 .arti1 .figure .tbx h4{font-size: 30px; line-height: 1; letter-spacing: 0.4em; font-weight: 400; margin-bottom: 20px;}
.s503 .arti1 .figure .tbx p{font-size: 20px; line-height: 1; }

.history_box{margin-top: 55px;}
.history_box > ul{position: relative;}
.history_box > ul:after{position: absolute; content:''; width: 1px; height: calc(100% - 20px); background: #ddd; left: 315px; top: 20px;}
.history_box > ul:before{position: absolute; content:''; width: 11px; height: 11px; background: url(../../images/sub/s503_4.jpg) center no-repeat; left: 310px; bottom: 0;}
.history_box > ul > li{display: table; width: 100%; table-layout: fixed; padding-bottom: 48px;}
.history_box > ul > li:nth-child(3){padding-bottom: 36px;}
.history_box > ul > li > *{display: table-cell; vertical-align: top; box-sizing: border-box;}
.history_box > ul > li > h3{width: 316px; font-size: 40px; line-height: 1; color: #0094dc; font-weight: 400; padding-left: 120px; position: relative;}
.history_box > ul > li > h3:before{position: absolute; content:''; width: 92px; height: 1px; background: #0094dc; right: 0; top: 19px; }
.history_box > ul > li > h3:after{position: absolute; content:''; width: 11px; height: 11px; background: url(../../images/sub/s503_3.png) center no-repeat; right: -5px; top: 14px; z-index: 15;}
.history_box > ul > li ol{position: relative; }
.history_box > ul > li ol li{display: table; width: 100%; table-layout: fixed;}
.history_box > ul > li ol li > *{display: table-cell; vertical-align: top; font-size: 18px; line-height: 38px; color: #666; box-sizing: border-box;}
.history_box > ul > li ol li > span{width: 135px; font-weight: 500; color: #333; padding-left: 54px;}

.s503 .arti2 figure{padding-top: 6px; position: relative; z-index: 100;} 
.s503 .arti2{position: relative; padding-bottom: 150px;}

.s503 .bt_box_box{}
.s503 .bt_box_box > *{position: absolute; width: 220px; }
.s503 .bt_box_box > *:before{position: absolute; content:''; width: 1px; height: 200px; background: #ddd; left: 50%; top: -10px; z-index: 10;}
.s503 .bt_box_box > *:first-child:before{height: 60px;}
.s503 .bt_box_box > * > dl{position: relative; z-index: 10; border: 1px solid #ddd; border-radius: 8px; margin-bottom: 10px; display: flex; width: 100%; font-size: 16px; line-height: 1.5; align-items:center; background: #fff; height: 60px; box-sizing: border-box;}
.s503 .bt_box_box > * > dl dt{width: 40%;  color: #fff; font-weight: 400; text-align: center; display: flex; align-items:center; background: #6699ff; height: 100%; border-radius: 8px 0 0 8px;}
.s503 .bt_box_box > * > dl dt span{width: 100%; display: block;  }
.s503 .bt_box_box > * > dl dd{width: 60%; background: #fff; padding-left: 10px; height: 100%; background: #fff; height: 100%; display: flex; align-items:center; border-radius: 8px;}
.s503 .bt_box_box > * > dl dd span{width: 100%; display: block;	}
.s503 .arti2 .lbx{left: 178px; bottom: 70px; font-size: 15px; line-height: 1.7;}
.s503 .arti2 .rbx{left: 818px; bottom: -70px; font-size: 15px; line-height: 1.7}

/* s504 */
.s504_his{border-top: 2px solid #0094dc; }
.s504_his > li{display: table; table-layout: fixed; width: 100%; border-bottom: 1px solid #ddd;} 
.s504_his > li > *{display: table-cell; vertical-align: top;  box-sizing: border-box; padding-top: 47px; padding-bottom: 40px;}
.s504_his > li > h3{font-size: 40px; line-height: 1; color: #0094dc; font-weight: 400; width: 216px; padding-left: 62px; border-right: 1px solid #ddd;} 
.s504_his > li > .tbx{padding-left: 50px; padding-top: 38px; }
.s504_his > li > .tbx ol > li{position: relative; font-size: 18px; line-height: 38px; color: #666;}
.s504_his > li > .tbx ol > li:before{position: absolute; content:''; width: 11px; height: 11px; background: url(../../images/sub/s503_4.jpg) center no-repeat; left: -56px; top: 14px;}

/* s505 */
.s505 .bg_col4{background: url(../../images/sub/s505_1.jpg) center no-repeat;}
.s505 .bg_col4 > li h5{margin-top: 65px; font-size: 18px; line-height: 30px; color: #333; font-weight: 400; letter-spacing: 0; width: 110%; margin-left: -5%;}
.s505 .bg_col4 > li:last-child h5{margin-top: 87px;}
.s505 .arti3{margin-top: 113px;}
.s505 .arti3 ul{display: flex; }
.s505 .arti3 ul > li{width: calc(50% - 10px) }
.s505 .bg_col4 li{line-height: 22px;  padding-top: 117px;}
.s505 .arti3 ul > li:first-child{margin-right: 10px;}
.s505 .arti3 ul > li:last-child{background: #f6f6f6; margin-left: 10px;}
.s505 .arti3 ul > li ol{display: flex; text-align: center;}
.s505 .arti3 ul > li ol > li{position: relative; width: 50%; box-sizing: border-box; padding-top: 73px; }
.s505 .arti3 ul > li ol > li:first-child:after{position: absolute; content:''; width: 1px ;height: 269px; background: url(../../images/sub/s311_ddot.jpg) center top; right: 0; top: 46px;}
.s505 .arti3 ul > li ol > li .tbx h4{font-size: 18px; line-height: 1; color: #333; font-weight: 700; margin: 24px 0 12px;}
.s505 .arti3 ul > li ol > li .tbx p{font-size: 18px; line-height: 30px; color: #333;}
.s505 .arti3 .color_sky p{font-size: 17px; line-height: 1; font-weight: 500; margin-top: 23px;}

.new_page_arti{margin-top: 44px;}
.new_page_arti p{color: #333; font-size: 18px;}
.new_page_arti .flex_box {margin-top: 20px;}
.new_page_arti .flex_box > li{box-sizing: border-box; width: 385px; height: 110px; }
.new_page_arti .flex_box > li:first-child{background: #0094dc; border: 3px solid #0094dc; box-shadow:10px 10px 10px rgba(0,0,0,0.1)}
.new_page_arti .flex_box > li:nth-child(2){background: #009bc8; border: 3px solid #009bc8; box-shadow:10px 10px 10px rgba(0,0,0,0.1); margin: 0 33px;}
.new_page_arti .flex_box > li:nth-child(3){ background: #5fc9fc;/*  pointer-events: none; */ }
.new_page_arti .flex_box > li a{color: #fff; padding: 10px 37px; position: relative; box-sizing: border-box; width: 100%; height: 100%;}
.new_page_arti .flex_box > li a:after{position: absolute; content: ''; width: 32px; height: 29px; background: url(../../images/sub/down_torn.png) center no-repeat; right: 37px; bottom: 38px; transition:.3s}
.new_page_arti .flex_box > li:hover a:after{bottom: 30px;}
.new_page_arti .flex_box > li > a span{display: block; font-size: 14px; line-height: 1; font-weight: 500; opacity: 0.8; margin-bottom: 10px;}
.new_page_arti .flex_box > li > a h4{font-size: 22px; line-height: 32px; font-weight: 500;}
.new_page_arti .flex_box > li:nth-child(3) a{padding: 0;}
.new_page_arti .flex_box > li:nth-child(3) a h4 {color: #fff; text-align: center; line-height: 104px;}
.new_page_arti .flex_box > li ol{padding-top: 8px; margin-left: -3px}
.new_page_arti .flex_box > li ol > li {font-size: 24px; line-height: 30px; color: #0c3353; font-weight: 700;}
.new_page_arti .flex_box > li ol > li span{width: 63px; height: 28px; line-height: 28px; color: #fff !important; background: #0c3353; border: 1px solid #0c3353; display: inline-block; margin-right: 4px; text-align: center; border-radius: 50px; vertical-align: top;}
.new_page_arti .flex_box > li ol > li:last-child span{background: #fff; border: 1px solid #0c3353; color: #0c3353 !important;} 
.new_page_arti2 table tr thead th{}
.new_page_arti .flex_box > li:last-child a:after{display: none;}
/* .new_page_arti2 table tr th{font-size: 16px; line-height: 1.7;} */
.new_page_arti2 table tr.bg2 th{font-size: 16px; line-height: 1.7;}
.new_page_arti2 table tr td{padding: 20px;}
.new_page_arti2 table tr td.left{text-align: left; padding: 10px 15px; font-size: 16px; line-height: 1.7;}
.new_page_arti2 table tr td.left a{display: inline-block;}

.form_pass{text-align: center; margin-top: 50px;}
.form_pass b{display: block; font-weight: 500; color: #333;}
.form_pass .cnt{margin-top: 20px;}
.form_pass .cnt input{border: 1px solid #ddd; width: 300px; height: 40px; line-height: 40px; display: inline-block;}
.form_pass .cnt a{width: 80px; height: 40px; line-height: 40px; background: #0094dc; color: #fff; display: inline-block; transition:.3s;}
.form_pass .cnt a:hover{background: #333;}

/* 마이페이지 */
.my_page .arti1 {border-top: 1px solid #0c3353; margin-top: 50px;}
.my_page table {}
.s901.my_page table colgroup col:nth-child(1) {width: 22.5%;}
.s901.my_page table colgroup col:nth-child(2) {width: 22.5%;}
.s901.my_page table colgroup col:nth-child(3) {width: 22.5%;}
.s901.my_page table colgroup col:nth-child(4) {width: 22.5%;}
.s901.my_page table colgroup col:nth-child(5) {width: 10%;}
.my_page table thead tr th {
    padding: 10px 10px;
    font-size: 16px;
    color: #333;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-right: 0;
    box-sizing: border-box;
}
.my_page table thead tr th:first-child {
    border-left: 0;
}

.my_page table tbody tr td {
    padding: 10px 10px;
    font-size: 16px;
    color: #333;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
}
.my_page table tbody tr td:first-child {
    border-left: 0;
}

.s902.my_page table colgroup col:nth-child(1) {width: 20%;}
.s902.my_page table colgroup col:nth-child(2) {width: 20%;}
.s902.my_page table colgroup col:nth-child(3) {width: 20%;}
.s902.my_page table colgroup col:nth-child(4) {width: 20%;}
.s902.my_page table colgroup col:nth-child(5) {width: 10%;}
.s902.my_page table colgroup col:nth-child(6) {width: 10%;}

.issued_btn {padding:3px 5px; background-color: #0c3353; color: #fff; display: block;}

.btn01, .btn_st1 {
    display: inline-block;
    width: 80px;
    /* min-width: 120px; */
    height: 40px !important;
    font-size: 16px;
    line-height: 40px !important;
    padding: 0 20px;
    color: #fff !important;
    font-weight: 500;
    text-align: center;
    transition: 0.3s;
    border: 0;
    border-radius: 3px;
    vertical-align: middle;
    outline: 0;
    box-sizing: border-box;
    cursor: pointer;
    background-color: #333 !important;
}


element.style {
}
.layer_search_partners .stbl_wrap table tr th {
    padding: 10px;
    border: 0;
}
.stbl_wrap table tr th {
    width: 195px;
    padding: 20px 23px;
    border-right: 1px solid #ddd;
    font-size: 16px;
    color: #333333;
    font-weight: 500;
    background-color: #f8f8f8;}



/* 1 */
.cal_group_application {text-align: center;}
.cal_group_application h3{text-align: center; font-size: 28px; font-weight: 500; color: #333; margin: 50px 0 20px;}
.cal_group_application .table_nomal{width: 800px; margin: 0 auto;}
.cal_group_application .table_nomal tr th,
.cal_group_application .table_nomal tr td,
.cal_group_application2 .table_nomal td{text-align: left; padding-left: 20px;	}
.cal_group_application .table_nomal tr td input{width: 90%; border: 1px solid #ddd; text-indent: 10px;}
.bt_write{display: inline-block; background: #0094dc; border: 0; width: 150px; height: 40px;  line-height: 40px; color: #fff; font-weight: 500; cursor: pointer; transition:.3s; text-align: center; display: block; margin: 50px auto 0;}
.bt_write:hover{background: #000;}

/* 2 */

.cal_group_application2 .top_box{display: flex; justify-content: space-between; margin-bottom: 10px;}
.cal_group_application2 .top_box > .lbx > *{display: inline-block;}
.cal_group_application2 .top_box > * > *{vertical-align: middle;	}
.cal_group_application2 .top_box > * > b{font-size: 18px; line-height: 1; color: #333; font-weight: 500; margin-right: 10px;}
.cal_group_application2 .top_box > .lbx > span{width: 18px; height: 18px; line-height: 16px; border: 1px solid #333; text-align: center;}
.cal_group_application2 .top_box > .rbx > input{border: 1px solid #ddd;}
.cal_group_application2 .arti1{margin-top: 50px;}
.cal_group_application2 .right_p{text-align: right; margin-bottom: 5px; color: #333;} 
.cal_group_application2 .table_nomal td *{display: inline-block; font-size: 16px; 	}
.cal_group_application2 .table_nomal td ol > li{margin-right: 20px;}
.cal_group_application2 .table_nomal td ol > li input,
.cal_group_application2 .table_nomal td ol > li select{border: 1px solid #ddd;}
.cal_group_application2 .table_nomal td ol > li label{margin-right: 10px;}
.cal_group_application2 .table_nomal td ol > li input[type="text"]{text-indent: 10px;}

/* my_page_new */
.my_page_new .arti1{ text-align: right; margin-top: 50px;}
.my_page_new .arti1 > .smb_my_act{display: inline-block;}
.my_page_new .arti1 > .smb_my_act > li{display: inline-block;}
.my_page_new .arti1 .my_info{margin-top: 50px; border-top: 2px solid #333;	}
.my_page_new .arti1 .my_info tr > *{border-bottom: 1px solid #ddd; font-size: 16px; line-height: 50px; text-align: left; padding-left: 20px;}
.my_page_new .arti1 .my_info tr > th{width: 150px; font-weight: 500; color: #333; background: #f4f4f4;}
.my_page_new .arti2 {margin-top: 50px;}
.my_page_new .arti2 p{margin-bottom: 10px;}
.my_page_new .arti2 .table_wrap{max-width:100%; overflow-y: auto;}
.my_page_new .arti2 .table_nomal{}
.my_page_new .arti2 .table_nomal tr > *{line-height: 1.5; word-break: keep-all; font-size: 15px; padding: 10px 5px;}
.my_page_new .arti2 .table_nomal tr > th{font-weight: 500;}
.my_page_new .arti2 a{font-size: 14px; color: #fff; background: #0094dc; line-height: 30px; width: auto; display: inline-block; padding: 0 10px; transition:.3s; }
.my_page_new .arti2 a:hover{background: #000;}
.my_page_new .arti2 .bt_box{display: flex; justify-content: space-between; margin-top: 30px;}
.my_page_new .arti2 .bt_box a{font-size: 16px; line-height: 40px;}

/* my_page_new2 */
.my_page_new .arti2 .top_bx {display: flex; justify-content: space-between; margin-bottom: 15px;}
.my_page_new .arti2 .top_bx ul > li{display: inline-block; vertical-align: middle; margin-left: 20px;}
.my_page_new .arti2 .top_bx ul > li label{display: inline-block;font-size: 16px; color: #333; font-weight: 500; margin-right: 10px; line-height: 30px;}
.my_page_new .arti2 .top_bx ul > li select{display: inline-block;border: 1px solid #ddd; height: 30px; box-sizing: border-box;}

/* my_pay_check_pop */
.pay_check_pop_wrap{position: fixed; left: 0; top: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.5); z-index: 1005; display: none;}
.pay_check_pop{position: fixed; width: 600px; height: 440px; left: 50%; top: 50%; margin-left: -300px; margin-top: -220px; background: #fff;}
.pay_check_pop .poptop {display: flex; justify-content: space-between; align-items:center; height: 55px; padding-left: 20px; background: #0094dc; }
.pay_check_pop .poptop h3{font-size: 28px; font-weight: 500; color: #333; color: #fff;} 
.pay_check_pop .poptop span{position: relative; width: 55px; height: 55px; background: #0c3353; cursor: pointer;}
.pay_check_pop .poptop span:before,
.pay_check_pop .poptop span:after{position: absolute; content: ''; width: 40px; height: 3px; background: #fff; left: 7px; top: 25px;}
.pay_check_pop .poptop span:before{transform:rotate(45deg)}
.pay_check_pop .poptop span:after{transform:rotate(-45deg)}
.pay_check_pop .cnt{padding: 30px; box-sizing: border-box;}

.pay_check_pop .cnt table{border-top: 2px solid #0094dc;}
.pay_check_pop .cnt table tr > *{font-size: 16px; line-height: 40px; text-align: left; border: 1px solid #ddd; padding: 5px 10px;}
.pay_check_pop .cnt table tr > *:first-child{border-left: 0;}
.pay_check_pop .cnt table tr > *:last-child{border-right: 0;}
.pay_check_pop .cnt table tr > th{padding-left: 10px; background: #ecf4f8; color: #333; font-weight: 500;}
.pay_check_pop .cnt table tr > td b{font-weight: 500; color: #333;}
.pay_check_pop .cnt .btn_box{text-align: center; margin-top: 30px;}
.pay_check_pop .cnt .btn_box a{line-height: 40px;}
.pay_check_pop .cnt .btn_box a, 
.pay_check_pop .cnt .btn_box input{width: 80px; height: 40px; background: #0094dc; color: #fff; border: 0; display: inline-block; margin: 0 5px;}
.pay_check_pop .cnt .btn_box > *:last-child{background: #000;}



